<p id="notice"><%= notice %></p>

<h1>Listing Boats</h1>

<table style="width:50%">

<br>
  <tbody>
    <% @boats.each_slice(3).each do |group| %>
      <% group.each do |boat| %>
          &nbsp;
          <% if boat.id !=nil %>
              <%= link_to image_tag(boat.file_link.split(',')[0], height: 200, width: 300,:style => "border: 2px solid white"), boat %>
          <% end %>
      <% end %>
      <br>
      <br>
  <% end %>
    <p>

    </p>
  </tbody>
</table>

<br>

